---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url(https://jessicatsoi.github.io/assets/images/coolheaderman.jpg)
}

h1 {
  a {
    color: white;
    text-decoration: none;
  }
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #7b0202
  }
}
